# requirements file

# jupyter notebook
jupyter==1.0.0
notebook==6.0.3

# requests for making api requests
requests==2.23.0

# fuzzy matching
fuzzywuzzy==0.18.0
python-Levenshtein==0.12.0

# numpy for math functions
numpy==1.18.1

# bokeh plotting
bokeh==1.4.0
fiona==1.8.13.post1
geos==0.2.2
pandas==1.0.1

# map plotting
ipyleaflet==0.12.3

# jupyter code collapse features
hide-code==0.5.5
jupyter-contrib-core==0.3.3
jupyter-contrib-nbextensions==0.5.1
jupyter-nbextensions-configurator==0.4.1

# screenshots
# Pillow==7.0.0
# PyAutoGUI==0.9.48

